<h1 translate="nav_change"></h1>
<div ng-repeat="(version, change) in ::vm.changelog">
    <h4>{{::version}} - {{::change.date}}</h4>
    <ul>
        <li ng-if="::change.added">Added:
            <ul>
                <li ng-repeat="added in ::change.added">{{::added}}</li>
            </ul>
        </li>
        <li ng-if="::change.fixed">Fixed:
            <ul>
                <li ng-repeat="fixed in ::change.fixed">{{::fixed}}</li>
            </ul>
        </li>
        <li ng-if="::change.removed">Removed:
            <ul>
                <li ng-repeat="removed in ::change.removed">{{::removed}}</li>
            </ul>
        </li>
        <li ng-repeat="other in ::change.other">{{::other}}</li>
    </ul>
</div>
